<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="viewport" content="width=device-width" />

  <!-- Bootstrap core CSS     -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Animation library for notifications   -->
  <link href="assets/css/animate.min.css" rel="stylesheet" />

  <!--  Light Bootstrap Table core CSS    -->
  <link href="assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link href="assets/css/demo.css" rel="stylesheet" />

  <!--     Fonts and icons     -->
  <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="margin-top:5%">
                    <div class="header">
                        <h4 class="title">Busses</h4>
                        <div class="content">
                            <form [formGroup]='bus' (ngSubmit)="Postbus(bus)">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Seats No.</label>
                                        <input type="text" class="form-control" formControlName='addbus' placeholder="Seats">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Bus Type</label>
                                        <input type="text" class="form-control" formControlName='type' placeholder="Type">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Bus Timing</label>
                                        <input type="text" class="form-control" formControlName='timing' placeholder="Timing">
                                    </div>
                                </div>
                                <!-- <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Add Bus Number</label>
                                        <input type="text" class="form-control" formControlName='addbusno' placeholder="Number">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Add Bus Condition</label>
                                        <input type="text" class="form-control" formControlName='addbuscond' placeholder="Condition">
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Add Bus Timing</label>
                                        <input type="text" class="form-control" formControlName='addbustime' placeholder="Timing Of Bus">
                                    </div>
                                </div> -->
                                <!-- <div class="buttonroute tab-pane">

                                    <input placeholder="Station" type="text">
                                    <button class="btn btn-primary">Add Station</button>
                                    <input placeholder="DeleteStation" type="text">
                                    <button class="btn btn-primary">Delete Station</button>
                                </div> 
                                <button type="submit" class="btn btn-info btn-fill pull-right">Add</button> -->
                                <button type="submit" class="btn btn-info btn-fill pull-right">Add Busses</button>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script src="assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script src="assets/js/demo.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        demo.initChartist();

        $.notify({
            icon: 'pe-7s-gift',
            message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

        }, {
            type: 'info',
            timer: 4000
        });

    });
</script>
</html>